body {
  color: #495464;
  background-color: #f4f4f2;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', sans-serif;
  font-size: 5.625rem;
  color: #495464;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #495464;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #495464;
}

p {
  line-height: 2;
}

hr {
  border: dotted #495464 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.top-container {
  background-color: #e8e8e8;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.bottom-container {
  background-color: #495464;
  padding: 50px 0 50px;
}

.about-me {
  width: 30%;
  margin: auto;
}

.connect {
  width: 40%;
  margin: 40px auto 60px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 250px;
}

.development-img {
  width: 20%;
  float: left;
  margin-right: 30px;
}

.systems-img {
  width: 20%;
  float: right;
  margin-left: 30px;
}

.data-img {
  width: 20%;
  float: left;
  margin-right: 30px;
}

.footer-link {
  color: #11999E;
}

.copyright {
  color: white;
  }

  .btn {
    background: #7f868a;
    background-image: -webkit-linear-gradient(top, #7f868a, #576066);
    background-image: -moz-linear-gradient(top, #7f868a, #576066);
    background-image: -ms-linear-gradient(top, #7f868a, #576066);
    background-image: -o-linear-gradient(top, #7f868a, #576066);
    background-image: linear-gradient(to bottom, #7f868a, #576066);
    -webkit-border-radius: 8PX;
    -moz-border-radius: 8PX;
    border-radius: 8px;
    font-family: Montserrat, sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: 100;
    padding: 10px 20px 10px 20px;
    border: solid #4c565c 2px;
    text-decoration: none;
  }

  .btn:hover {
    background: #617785;
    background-image: -webkit-linear-gradient(top, #617785, #385263);
    background-image: -moz-linear-gradient(top, #617785, #385263);
    background-image: -ms-linear-gradient(top, #617785, #385263);
    background-image: -o-linear-gradient(top, #617785, #385263);
    background-image: linear-gradient(to bottom, #617785, #385263);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-decoration: none;
  }
